.col > * {
    width: 102%;
  }
   span button{
    background-color: #095E4E ;
    color:white ;
    width: 140px;

  }
  span{
    margin-left: auto;
  }
  .toolbar {
    height: 60px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }
  .grid-container{
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 5%;
  }
  .grid-item{}
  
  p{
    font-size: 20px;
  }
  
  
  
  button{
      background-color: #095E4E ;
      color:white ;
      width: 180px;
      text-align: center;
      -webkit-transition-duration: 0.6s; /* Safari */
      transition-duration: 0.6s;
      padding-top: 5px;
   }
   .ddd{
    padding-top: 5px;
  
   }
   button:hover {
      background-color: rgb(62, 161, 143) ;
    }
    .space{
      padding-right: 10px;
      padding-top: 10px;
      padding-left: 5%;
   }
   .space1{
    padding-right: 10px;
    padding-top: 10px;
 }
   .mat-raised-button {
    background-color: #095E4E ;
    color:white;
    width: 180px;
    min-width: unset;
    
  }
  .mat-raised-button:hover{
    background-color: rgb(62, 161, 143) ;
  } 