<h1 mat-dialog-title> Server hinzufügen </h1>
<form [formGroup]="addServerForm" (ngSubmit)="addServerSubmit()">
    <div mat-dialog-content>
        <div class="container-fluid">
            <div class="row">
                <div class="form-group col col-md-12">
                    <label>OS</label>
                    <input type="text" class="form-control" formControlName="OS"
                    [ngClass]="{ 'is-invalid': submitted && addServer.OS.errors }">
                  <div *ngIf="submitted && addServer.OS.errors" class="invalid-feedback">
                    <div *ngIf="addServer.OS.errors.required">OS ist ein Pflichtfeld</div>
                  </div>
                </div>
                <div class="form-group col col-md-12">
                    <label>Ort</label>
                    <input type="text" class="form-control" formControlName="Ort"
                    [ngClass]="{ 'is-invalid': submitted && addServer.Ort.errors }">
                  <div *ngIf="submitted && addServer.Ort.errors" class="invalid-feedback">
                    <div *ngIf="addServer.Ort.errors.required">Ort ist ein Pflichtfeld</div>
                  </div>
                </div>
                <div class="form-group col col-md-12">
                    <label>Typ</label>
                    <input type="text" class="form-control" formControlName="Typ"
                    [ngClass]="{ 'is-invalid': submitted && addServer.Typ.errors }">
                  <div *ngIf="submitted && addServer.Typ.errors" class="invalid-feedback">
                    <div *ngIf="addServer.Typ.errors.required">Typ ist ein Pflichtfeld</div>
                  </div>
                </div>
                <div class="form-group col col-md-12">
                    <label>ServerID</label>
                    <input type="number" class="form-control" formControlName="ServerID"
                    [ngClass]="{ 'is-invalid': submitted && addServer.ServerID.errors }">
                  <div *ngIf="submitted && addServer.ServerID.errors" class="invalid-feedback">
                    <div *ngIf="addServer.ServerID.errors.required">ServerID ist ein Pflichtfeld</div>
                  </div>
                </div>

            </div>
        </div>
    </div>
    <div mat-dialog-actions>
        <div class="row" style="width: 100%;">
          <span >
            <button mat-raised-button type="button" (click)="onCancelClick()">Abbrechen</button>
            <button mat-raised-button type="submit" color="accent" >Speichern</button>
          </span>
        </div>
      </div>

</form>